@model ReportViewModel

@section Breadcrumbs {
    <ol class="breadcrumb navbar-breadcrumb">
        <li>Reports</li>
        <li>@Model.Report.Name</li>
        <li class="active" id="currentPage"></li>
    </ol>
}
<div class="side-body padding-top">
    <div id="pbiReport" powerbi-type="report" powerbi-embed-url="@Model.Report.EmbedUrl" powerbi-access-token="@Model.AccessToken"></div>
    <button id="playPause" class="btn btn-primary">Play</button>
    <script>
        window.addEventListener('DOMContentLoaded', function (event) {
            var elem = document.getElementById('pbiReport');
            var report = powerbi.embed(elem);
            var currentPage = document.getElementById('currentPage');
            var playPause = document.getElementById('playPause');
            var interval = null;
            var index = 0;
            var reportPages = null;

            // Wait for the Power BI report to load
            report.on('loaded', function () {
                // Get a list of pages available within the report
                report.getPages().then(function (pages) {
                    reportPages = pages;
                });
            });

            // Page changed event is fired on both user interactions and SDK commands
            report.on('pageChanged', function (e) {
                // Update the breadcrumb text
                currentPage.innerText = e.newPage.displayName;
            });

            playPause.addEventListener('click', function () {
                if (interval) {
                    window.clearInterval(interval);
                    interval = null;
                } else {
                    gotoNextPage();
                    interval = window.setInterval(gotoNextPage, 3000);
                }

                playPause.innerText = interval ? 'Pause' : 'Play';
            });

            function gotoNextPage() {
                index++;
                if (index >= reportPages.length) {
                    index = 0;
                }

                // Change the page on the report
                report.setPage(reportPages[index].name);
            }
        }, false);
    </script>
</div>